@font-face {
    font-family: neu;
    src: url(/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
} 

#nav-p2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-p2 h4{
    padding: 10px 20px;
    border: 1px solid rgba(11,5,0,.2);
    border-radius: 50px;
    font-size: 1.125rem;
    font-size: 1.125rem;
    color: rgba(11,5,0,.2);
    position: relative;
    overflow: hidden; 
}

#nav-p2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.5s;
    
}

#nav-p2 h4:hover::after{
    bottom: 0;
    border-radius: 0%;
    
}

#nav-p2 h4 a{
    color: rgba(12, 12, 12, 0.568);
    text-decoration: none;
    position: relative;
    z-index: 9;

}

#nav-p2 h4:hover a{
    color: white;
}

#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;

}

#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video{
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 82vh;   
}

#hero1{
    position: absolute;
    background-color: #fe320a;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(15px);
}

#hero2{
    position: absolute;
    background-color: #fe320a;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero3{
    position: absolute;
    background: linear-gradient(#fe320a,#fe3f0a);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,-10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-20%,20%S);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
    padding: 8vw 0;
    position: relative;
    padding-bottom: 0;
}

#moving-text{
    white-space: nowrap;
    
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1{
    display: inline-block;
    font-size: 9vw;
        

}

.circle{
    width: 70px;
    height: 70px;
    background-color: #fe320a;
    border-radius: 50px;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
    
}

#page2-bottom{
    width: 100%;
    height: 80vh;
    padding: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw;
    position: relative;
}

#page2-bottom h1{
    font-size: 3.5rem;
    width: 60%;
    line-height: 1;
    z-index: 9;
}

#bottom-p2{
    width: 25%;
    margin-top: 18vw;
}

#bottom-p2 img{
    width: 100%;
    border-radius: 15px;
}

#bottom-p2 p{
    font-weight: 200;
    margin-top: 2.5vw;
}

#bottom-circle{
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top,#fe320a,#fe570a);
    top: 40%;
    left: 20%;
    filter: blur(25px);
    animation: c2bottom;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
} 

@keyframes c2bottom {
    from{
        transform: translate(10%,-10%) skew(0);
    }
    to{
        filter: blur(40px);
        transform: translate(-10%,10%) skew(-10deg);
    }
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #efeae3;
}

#top-pg3{
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    
}

#top-pg3 h6{
    font-weight: 200;
    font-size: .875em;
}

#pg3-minc{
    width: 8px;
    height: 8px;
    background-color: #fe320a;
    border-radius: 50%;
    margin-right: 6px;
}

.elem{
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.elem h2{
    font-size: 2.5rem;
    position: relative;
    z-index: 9;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 136, 0, 0.938);
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 32vw;
    width: 25vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}
/* button */

#button-end{
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2vw; 
}

#button-end h4{
    padding: 10px 20px;
    border: 1px solid rgba(11,5,0,.2);
    border-radius: 50px;
    font-size: 1.125rem;
    color: rgba(11,5,0,.2);
    position: relative;
    overflow: hidden;
    font-weight: 200; 
}

#button-end h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.5s;
    
}

#button-end h4:hover::after{
    bottom: 0;
    border-radius: 0%;
    
}

#button-end h4 a{
    color: rgba(12, 12, 12, 0.568);
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#button-end h4:hover a{
    color: white;
} 
/* page#4 */
#page4{
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    background-color: #efeae3;
}

#container{
    width: auto;
    height: 90vh;
    background-color: #070707;
    border-radius: 1.25em;
    flex-flow: column;
    flex: none;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 2em;
    right: 2em;
}
#heading{
    width: 45%;
    grid-row-gap: 0em;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    position: relative;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
    overflow: hidden;
    align-items: center;
}

.fc{
    position: relative;
}

.gs-1{
    width: 20.75em;
    opacity: .3;
    color: rgba(11,5,0,.3);
    background-color: transparent;
    border-bottom: 1.5px transparent;
    border-left: 3px solid rgba(239,234,227,.8);
    flex: none;
    padding: 0 0 0 1em;
    display: flex;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    text-decoration: none;
    display: inline-block;
    position: relative;
    max-width: 100%;
    display: inline-block;
}

.text-color{
    color: #efeae3;
}

.h1-style{
font-family: neu;
font-size: 4.25em;
font-weight: 500;
line-height: 1;
}

.current{
    max-width: 20.75em;
    opacity: 1;
    background-color: transparent;
    border-bottom-style: none;
    border-bottom-color: #000;
    border-left: 3px solid #fe330a;
    flex-direction: row;
    padding-left: 1em;
    display: flex;
}

#m-1{
    color: #efeae3;
    background-color: transparent;
    margin-top: 2.5em;
    position: static;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    display: block;
    position: relative;
    overflow: hidden;
}

.dc-1{
    z-index: 3;
    position: static;
    position: relative;
}

.jfy-1{
    width: 45%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.pc-1{
    width: auto;
    height: 10em;
    max-width: 20.75em;
    position: relative;
} 

.page4-picture{
    z-index: 0;
    width: 55%;
    height: 100%;
    border-radius: 1.25em;
    padding-top: 0;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
    overflow: hidden;
}

.lp{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}